@import "../../../../../styles/variables.scss";

.category {
    h3 {
        font-family: "Kaushan Script", cursive;
        color: $wisteria;
        padding-bottom: 16px;

        @media (min-width: 578px) {
            padding-bottom: 32px;
        }
    }

    > div {
        display: flex;
        flex-wrap: wrap;
    }
}
