@use "../../../styles/variables.scss";

.content {
    position: relative;
    padding: 16px;
    flex-direction: column;
    overflow: visible;

    @media (min-width: 820px) {
        overflow: scroll;
    }

    @media (min-width: 1200px) {
        padding: 80px 96px 0;
    }

    > header > span {
        padding-top: 18px;
    }

    > main {
        padding-top: 48px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &.withNavigation {
        padding: 0;

        > main {
            padding-top: 0;
            gap: 16px;
        }

        > header,
        > main,
        > footer {
            padding-left: 16px;
            padding-right: 16px;

            @media (min-width: 1200px) {
                padding-left: 96px;
                padding-right: 96px;
            }
        }
    }
}
