$text-color-opasity: #f8f8f8b8;
$wisteria: #c9a0dc;
$border-color: #1e1e1e;

.cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .products {
        width: 100%;

        & > *:not(:first-child) {
            border-top: 1px solid $border-color;
        }

        .product-preview {
            display: flex;

            > .container {
                width: 100%;
                position: relative;
                padding: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                > img {
                    height: 72px;
                    width: 90px;
                    border-radius: 10px;
                    object-fit: cover;
                }

                .content {
                    padding: 0 24px;
                    display: flex;
                    flex-grow: 1;
                    flex-direction: column;
                    justify-content: space-evenly;

                    div {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .title {
                            display: flex;
                            align-items: center;
                            color: white;
                            padding-right: 16px;
                            font-size: 20px;

                            &:hover {
                                color: $wisteria;
                            }
                        }

                        .price {
                            display: flex;

                            .sale {
                                text-decoration: line-through;
                                opacity: 60%;
                                padding-right: 10px;
                            }
                        }
                    }
                    p {
                        font-weight: 200;
                        color: $text-color-opasity;
                    }
                }

                .close-button {
                    position: static;
                    height: 24px;
                    width: 24px;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    > .prices-container {
        width: 100%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .container {
            display: flex;
            align-items: center;

            > .numInput {
                padding-left: 8px;
            }

            .price {
                color: $wisteria;
            }
        }
    }
}
