.cover-container {
    height: 100%;
    width: 50%;
    overflow: hidden;
    position: fixed;

    @media (max-width: 768px) {
        width: 100%;
        position: static;
    }

    & > .logo,
    & > .navbar {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 1;
    }

    & > .logo {
        top: 80px;
    }

    & > .navbar {
        bottom: 80px;
    }
}

.cover {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    > .image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        position: absolute;
        transition: transform 0.5s, filter 0.5s;
    }

    > .filter {
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
    }

    > .content {
        padding: 80px 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;

        @media (max-width: 576px) {
            padding: 40px 48px;
        }
    }

    &:hover {
        .image {
            transform: scale(1.05);
        }

        .filter {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}
