$text-color-opacity: #f8f8f8b8;

.events-page {
    height: 100vh;

    .carrousel-container {
        height: 100vh;

        .slide {
            width: 33.33vw;
            overflow: hidden;

            .image {
                background-size: cover;
                background-position: center;
                height: 100vh;

                .filter {
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.7);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .title {
                        font-size: 38px;
                    }

                    .date {
                        padding-top: 8px;
                        font-weight: 200;
                        color: $text-color-opacity;
                    }
                }

                transition: transform 0.5s, filter 0.5s;

                &:hover {
                    transform: scale(1.05);
                    .filter {
                        background-color: rgba(0, 0, 0, 0.6);
                    }
                }
            }
        }
    }

    .logo,
    .navbar {
        position: fixed;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 2;

        &.logo {
            top: 80px;
        }

        &.navbar {
            bottom: 80px;
        }
    }
}
