@use "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    scrollbar-color: variables.$wisteria variables.$background-color;
}

svg {
    transition: 0.3s;
    fill: currentColor;
    stroke: currentColor;
}

a {
    transition: 0.3s;
    text-decoration: none;
    font-weight: 200;

    &.wisteria {
        color: variables.$wisteria;
    }

    &:hover {
        color: white;
    }
}

button {
    border: none;
}

input,
textarea {
    border: 1px solid variables.$border-color;
    background-color: transparent;
    color: white;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px variables.$background-color inset;
    box-shadow: 0 0 0px 1000px variables.$background-color inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill::first-line {
    -webkit-text-fill-color: variables.$background-color;
}

body {
    background-color: variables.$background-color;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

h3 {
    font-size: 28px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    font-weight: 200;
}

table {
    border-collapse: collapse;

    tr {
        th {
            padding: 0 16px 8px;
            font-size: 18px;
            font-weight: 200;
        }

        td {
            padding: 8px;
            border-top: 1px solid #1e1e1e;
            font-size: 18px;
            font-weight: 100;
            text-align: center;

            > .status {
                width: max-content;
                padding: 4px 8px;
                margin: auto;
                border-radius: 30px;
                font-size: 18px;

                &.new {
                    background-color: variables.$wisteria;
                }

                &.confirmed {
                    color: variables.$green;
                }

                &.cancelled {
                    color: variables.$red;
                }

                &.done {
                    color: variables.$text-color-grey;
                }
            }
        }

        &.done {
            > td {
                color: variables.$text-color-grey;

                .status {
                    color: variables.$text-color-grey;
                }
            }
        }
    }
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

// pages
@media (max-width: 820px) {
    .events-page {
        .slides-container {
            display: flex;
            flex-direction: column;

            .slide {
                width: 100%;

                .image {
                    height: 100%;
                    transition: none;
                }
            }
        }
    }
}

.date-picker,
.time-picker {
    .react-datepicker-wrapper {
        display: block;
        width: 100%;
    }

    input {
        transition: border-color 0.3s;
    }

    &.error {
        input {
            border-color: variables.$wisteria;
        }
    }
}

div.react-datepicker {
    background-color: variables.$background-color;
    color: white;
    border: 1px solid variables.$border-color;
    border-radius: 10px;

    .react-datepicker__time-container {
        width: 100px;
    }

    .react-datepicker__time-container
        .react-datepicker__time
        .react-datepicker__time-box {
        width: 100px;
    }

    .react-datepicker__time-box {
        border-bottom-left-radius: 10px;
    }

    .react-datepicker__time-container
        .react-datepicker__time
        .react-datepicker__time-box
        ul.react-datepicker__time-list
        li.react-datepicker__time-list-item--selected {
        background-color: variables.$wisteria;
        color: white;
        font-weight: bold;
    }

    li.react-datepicker__time-list-item:hover {
        background-color: white;
        color: variables.$wisteria;
    }

    .react-datepicker__header {
        text-align: center;
        background-color: variables.$background-color;
        border-bottom: 1px solid variables.$border-color;
        border-top-left-radius: 10px;
        padding: 8px 0;
        position: relative;

        .react-datepicker__current-month,
        .react-datepicker-time__header,
        .react-datepicker-year-header {
            margin-top: 0;
            color: #c9a0dc;
            font-weight: bold;
            font-size: 0.944rem;
        }
    }
    .react-datepicker__header:not(.react-datepicker__header--has-time-select) {
        border-top-right-radius: 10px;
    }

    .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
        color: white;
        display: inline-block;
        width: 1.7rem;
        line-height: 1.7rem;
        text-align: center;
        margin: 0.166rem;
    }

    .react-datepicker__day:hover {
        border-radius: 50%;
        background-color: white;
        color: variables.$wisteria;
    }

    .react-datepicker__day--selected,
    .react-datepicker__day--selected:hover {
        border-radius: 50%;
        background-color: #c9a0dc;
        color: white;
    }

    .react-datepicker__day--disabled,
    .react-datepicker__month-text--disabled,
    .react-datepicker__quarter-text--disabled,
    .react-datepicker__year-text--disabled {
        cursor: default;
        color: variables.$border-color;
    }

    .react-datepicker__day--keyboard-selected,
    .react-datepicker__month-text--keyboard-selected,
    .react-datepicker__quarter-text--keyboard-selected,
    .react-datepicker__year-text--keyboard-selected {
        border-radius: 50%;
        background-color: #c9a0dc;
        color: white;
    }

    .react-datepicker__navigation-icon::before,
    .react-datepicker__navigation-icon:hover {
        border-color: #c9a0dc;
    }

    .react-datepicker__time-container .react-datepicker__time {
        background: variables.$background-color;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .react-datepicker__time-container
        .react-datepicker__time
        .react-datepicker__time-box
        ul.react-datepicker__time-list
        li.react-datepicker__time-list-item--disabled {
        color: variables.$border-color;
    }
}
