@use "../../styles/variables.scss";

.logo {
    font-size: 28px;
    font-weight: 350;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.logo:hover {
    color: variables.$wisteria;
    transform: scale(1.05);
}
