$wisteria: #c9a0dc;

.logo {
    width: 97px;
    height: 29px;
    font-size: 28px;
    font-weight: 350;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo:hover {
    color: $wisteria;
    transform: scale(1.05);
}
