@use "../../../../styles/variables.scss";

.reservation {
    align-items: flex-start;
    flex-direction: column;
    position: relative;

    .text {
        display: block;
    }

    &.today {
        .text {
            color: variables.$wisteria;
        }
    }

    &.upcoming {
        .text {
            color: white;
        }
    }
    &.past {
        .status {
            color: variables.$text-color-grey;
        }
    }

    .status {
        position: absolute;
        right: 0;
    }
}
