@use "../../../../styles/variables.scss";

.category {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: 578px) {
        gap: 32px;
    }

    h3 {
        font-family: "Kaushan Script", cursive;
        color: variables.$wisteria;
    }

    > div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px 16px;

        @media (min-width: 578px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 16px 32px;
        }
    }
}
