$background-color: #050505;
$wisteria: #c9a0dc;

.product {
    height: 100vh;
    z-index: 9999;
    position: sticky;
    top: 0;
    background-color: $background-color;
    border: 1px solid $wisteria;
    border-radius: 16px;
    padding: 80px 96px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        margin-bottom: 36px;
    }

    .carrousel-container {
        width: 400px;
        height: 400px;
        margin: 0 auto;
    }
}
