@import "../../../../styles/variables.scss";

//size
button.small,
button.large,
button.full {
    height: 60px;
    min-width: max-content;
    padding: 16px;
    border-radius: 30px;
    transition: 0.3s;

    &:not(:disabled):hover {
        transform: scale(1.05);
    }

    &:not(:disabled):active {
        background-color: white;
        color: $wisteria;
    }
}

button.small {
    width: 150px;
}

button.large {
    width: 300px;
}

button.full {
    width: 100%;
}

//color
button.wisteria {
    background-color: $wisteria;
}

button.transparent {
    background-color: transparent;
    border: 1px solid $wisteria;
}
