.navbar {
    width: max-content;
    background-color: #fff;
    border-radius: 35px;
    padding: 10px;

    .button {
        border: none;
        border-radius: 26px;
        background-color: #fff;
        color: #050505;

        padding: 16px;
        font-weight: 300;
        transition: 0.3s;

        &:hover {
            color: white;
            background-color: #050505;
        }
    }
}
