.navbar {
    display: flex;
    width: max-content;
    background-color: #fff;
    border-radius: 35px;
    padding: 8px;

    :not(:first-child) {
        margin-left: 8px;
    }

    a {
        border-radius: 26px;
        color: #050505;
        padding: 16px;
        font-weight: 300;
        transition: 0.3s;

        &:hover,
        &.active {
            color: white;
            background-color: #050505;
        }
    }
}
