@import "../../../styles/variables.scss";

.accordion {
    width: 100%;

    .item {
        > header {
            padding: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid $border-color;
            cursor: pointer;

            > h4,
            > svg {
                transition: 0.3s;
            }

            > svg {
                height: 24px;
                width: 24px;
            }

            &.open,
            &:hover {
                > h4,
                > svg {
                    transform: scale(1.05);
                }
                > h4 {
                    color: $wisteria;
                }
                > svg {
                    fill: $wisteria;
                }
            }
        }

        .content {
            &.hidden {
                display: none;
            }

            &.open {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 16px;
                border-right: 1px solid #1e1e1e;
                border-bottom: 1px solid #1e1e1e;
                border-left: 1px solid #1e1e1e;
            }

            > button:last-child {
                margin-top: 16px;
            }
        }
    }
}
