@import "../../../styles/variables.scss";

.logoutButton {
    transition: 0.3s;
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 16px;
    background-color: transparent;
    color: $text-color-grey;

    svg {
        fill: $text-color-grey;
        stroke: $text-color-grey;
    }

    &:hover {
        color: white;
        svg {
            fill: white;
            stroke: white;
        }
    }
}
