.cover {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        .image {
            transform: scale(1.05);
        }

        .filter {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}
