$text-color-opasity: #f8f8f8b8;
$wisteria: #c9a0dc;

.dish-link {
    text-decoration: none;

    .container {
        position: relative;
        padding: 16px 24px 16px 16px;
        display: flex;
        justify-content: space-between;
        border-radius: 16px;

        &.dish-of-the-day {
            border: 1px solid $wisteria;

            .badge {
                position: absolute;
                top: -16px;
                right: 24px;
                padding: 8px 12px;
                background-color: $wisteria;
                color: #050505;
                border-radius: 6px;
                font-weight: 200;
            }
        }

        img {
            height: 72px;
            width: 90px;
            border-radius: 10px;
            background-color: #f8f8f8;
        }

        .content {
            width: 100%;
            padding: 0 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            max-width: 450px;

            div {
                display: flex;
                justify-content: space-between;

                .title {
                    display: flex;
                    align-items: center;
                    text-decoration: none;

                    h4 {
                        padding-right: 16px;
                        font-size: 20px;
                        font-weight: 200;
                    }
                }

                .price {
                    display: flex;

                    .sale {
                        text-decoration: line-through;
                        opacity: 60%;
                        padding-right: 10px;
                    }
                }
            }
            p {
                font-weight: 200;
                color: $text-color-opasity;
            }
        }
    }
}
