@import "../../../styles/variables.scss";

.popupBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
    top: 0;
    right: 0;
    z-index: 9999;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);

    > .popup {
        height: max-content;
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 80px 96px;
        position: relative;
        border: 1px solid $border-color;
        background-color: $background-color;

        > :not(:last-child) {
            padding-bottom: 18px;
        }

        > div {
            width: 100%;
            display: flex;
            justify-content: center;

            :not(:first-child) {
                margin-left: 50px;
            }
        }
    }
}
