@import "../../../../styles/variables.scss";

.cursiveSubtitle {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    color: $wisteria;
    font-size: 36px;
    text-align: center;
}
