@use "../../../../../styles/variables.scss";

.productLink {
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    gap: 8px;

    &:hover {
        transform: scale(1.05);

        .amount:not(.visible) {
            display: flex !important;
            justify-content: center;
            align-items: center;
        }
    }

    div.withImage {
        width: 100%;
        position: relative;

        .badges {
            position: absolute;
            top: 4px;
            left: 4px;
            display: flex;
            gap: 4px;
        }

        .amount {
            height: 55px;
            width: 100%;
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            background-color: variables.$wisteria;
            transition: 0.3s;

            &.visible {
                display: flex !important;
                justify-content: center;
                align-items: center;
            }

            button {
                height: 100%;
                width: 100%;
                background-color: variables.$wisteria;
                color: white;
            }
        }
    }
}
