@import "../../../../../styles/variables.scss";

.reservation {
    flex-direction: column;
    position: relative;

    &.today p {
        color: $wisteria;
    }
    &.upcoming p {
        color: white;
    }
    &.past {
        p,
        .status {
            color: $text-color-grey;
        }
    }

    .status {
        width: fit-content;
        position: absolute;
        right: 0;
        font-size: 16px;
        font-weight: 100;

        &.cancelled {
            color: $red;
        }

        &.confirmed {
            color: $green;
        }

        &.new {
            padding: 2px 6px;
            border-radius: 30px;
            background-color: $wisteria;
            color: white;
        }
    }
}
