@import "../../../styles/variables.scss";

.link {
    transition: 0.3s;
    display: flex;
    align-items: center;

    svg {
        fill: $text-color-grey;
        stroke: $text-color-grey;
    }

    &.large {
        font-size: 18px;
    }

    &.grey {
        color: $text-color-grey;
    }

    &.white {
        color: white;
    }

    &.wisteria {
        color: $wisteria;
    }

    &:hover {
        color: white;
        svg {
            fill: white;
            stroke: white;
        }
    }

    &.active {
        color: $wisteria;
        svg {
            fill: $wisteria;
        }
    }
}
