$text-color-opasity: #f8f8f8b8;
$background-color: #050505;
$wisteria: #c9a0dc;

$heading3-font-size: 28px;
$heading3-font-weight: 300;

$border-color: #1e1e1e;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    color: #fff;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

button {
    border: none;
}

body {
    background-color: $background-color;
}

h3 {
    font-size: $heading3-font-size;
    font-weight: $heading3-font-weight;
}

.titles-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .subtitle {
        font-family: "Kaushan Script", cursive;
        font-weight: 400;
        color: $wisteria;
        font-size: 36px;
        text-align: center;
    }

    .title {
        font-weight: 400;
        font-size: 48px;
        text-align: center;
    }
}

.link {
    font-weight: 200;
}

.page,
.pageWithCover {
    > main {
        display: flex;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .section {
            width: 50%;

            @media (max-width: 768px) {
                width: 100%;
            }

            > .content {
                padding: 80px 96px;

                @media (max-width: 576px) {
                    padding: 40px 48px;
                }

                .text {
                    padding-top: 16px;
                    font-size: 18px;
                    font-weight: 100;
                    color: $text-color-opasity;
                }

                .form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    div {
                        display: flex;

                        label {
                            width: 50%;
                        }

                        > :not(:first-child) {
                            margin-left: 32px;
                        }
                    }

                    label {
                        padding-top: 48px;

                        .error {
                            color: $wisteria;
                            font-size: 14px;
                        }

                        p {
                            padding-bottom: 16px;
                            font-weight: 200;
                            color: $text-color-opasity;
                        }

                        input,
                        textarea {
                            padding: 16px 24px;
                            width: 100%;
                            background-color: transparent;
                            border: 1px solid $border-color;
                            border-radius: 10px;

                            &:focus {
                                outline: none;
                                border: 1px solid $wisteria;
                            }
                        }

                        input {
                            height: 60px;

                            &::placeholder {
                                color: $text-color-opasity;
                            }
                        }

                        textarea {
                            resize: none;
                        }
                    }

                    .submit {
                        margin-top: 48px;
                        height: 60px;
                        border: none;
                        border-radius: 30px;
                        background-color: $wisteria;
                        color: #050505;

                        &:disabled {
                            opacity: 0.5;
                        }
                    }
                }
            }

            .navigation {
                z-index: 1;
                width: 50vw;
                display: flex;
                justify-content: center;
                padding: 24px 36px;
                position: fixed;
                top: 0;
                background-color: #050505;

                & > *:not(:last-child) {
                    padding-right: 48px;
                }
            }

            .link {
                text-decoration: none;
                font-weight: 200;
                color: $text-color-opasity;
                transition: 0.2s;

                &:hover {
                    color: white;
                }

                &.active {
                    color: $wisteria;
                }
            }
        }
    }
}
