* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    color: #fff;
}

body {
    background-color: #050505;
}

.section,
.cover {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;

    &.section {
        position: absolute;
        right: 0;
    }

    &.cover {
        align-items: center;
        position: fixed;
        left: 0;
        justify-content: space-between;
        padding: 65px 0;
        background-size: cover;
        background-position: center;

        &::before {
            content: ""; // Required for pseudo-elements
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6); // Adjust opacity as needed
            filter: contrast(120%);
            z-index: 1; // Ensure the overlay is above the background
        }

        > * {
            position: relative; // Ensure content appears above overlay
            z-index: 2; // Ensure content appears above overlay
        }
    }
}

.page-content {
    padding: 0 96px 80px 96px;
    height: fit-content;

    h3 {
        font-size: 28px;
        font-weight: 300;
    }

    .text {
        padding-top: 16px;
        font-size: 18px;
        font-weight: 100;
        color: #f8f8f8b8;
    }

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;

        div {
            display: flex;

            label {
                width: 50%;
            }

            > :not(:first-child) {
                margin-left: 32px;
            }
        }

        label {
            padding-top: 48px;
            display: flex;
            flex-direction: column;
            font-weight: 200;
            color: #f8f8f8b8;

            p {
                padding-bottom: 16px;
            }

            input,
            textarea {
                padding: 16px 24px;
                width: 100%;
                background-color: transparent;
                border: 1px solid #f8f8f820;
                border-radius: 10px;

                &:focus {
                    outline: none;
                    border: 1px solid #face8d;
                }
            }

            input {
                height: 60px;

                &::placeholder {
                    color: #f8f8f8b8;
                }
            }

            textarea {
                resize: none;
            }
        }

        button {
            margin-top: 48px;
            height: 60px;
            border: none;
            border-radius: 30px;
            background-color: #face8d;
            color: #050505;

            &:disabled {
                opacity: 0.5;
            }
        }
    }
}

.logo {
    width: 97px;
    height: 29px;
}

.titles-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-weight: 400;
        font-size: 48px;
    }

    .subtitle {
        font-family: "Kaushan Script", cursive;
        font-weight: 400;
        color: #face8d;
        font-size: 36px;
    }
}

.navbar {
    max-width: 60%;
    background-color: #fff;
    border-radius: 35px;
    padding: 10px;
}

.button {
    border: none;
    border-radius: 26px;
    background-color: #fff;
    color: #050505;
    padding: 16px;
    font-weight: 300;

    &:hover {
        background-color: #f8f8f8;
    }
}

.dish-container {
    position: relative;
    padding: 16px 24px 16px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;

    &.dish-of-the-day {
        border: 1px solid #face8d;

        .badge-dish-of-the-day {
            position: absolute;
            top: -16px;
            right: 24px;
            padding: 8px 12px;
            background-color: #face8d;
            color: #050505;
            border-radius: 6px;
            font-weight: 200;
        }
    }

    .dish-image {
        height: 72px;
        width: 90px;
        border-radius: 10px;
        background-color: #f8f8f8;
    }

    .dish-content {
        width: 100%;
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 450px;

        .dish-info {
            display: flex;
            justify-content: space-between;

            .dish-title {
                display: flex;
                align-items: center;

                .dish-name {
                    padding-right: 16px;
                }

                .dish-price {
                    display: flex;

                    .dish-sale {
                        text-decoration: line-through;
                        opacity: 60%;
                        padding-right: 10px;
                    }
                }
            }

            .dish-description {
                font-weight: 200;
                opacity: 60%;
            }
        }
    }
}

.highlighted {
    color: #face8d;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 96px;

    &__link-container {
        display: flex;
        flex-direction: column;

        &__link {
            opacity: 0.5;
        }
    }
}

.link {
    text-decoration: none;
    font-weight: 200;
}
