$text-color-grey: #bfbfbf;
$background-color: #050505;
$wisteria: #c9a0dc;

$heading3-font-size: 28px;
$heading3-font-weight: 300;

$border-color: #1e1e1e;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    color: #fff;
}

a {
    text-decoration: none;
    font-weight: 200;

    &.wisteria {
        color: $wisteria;
    }

    &:hover {
        color: white;
    }
}

button {
    border: none;
}

input {
    border: 1px solid $border-color;
}

body {
    background-color: $background-color;
}

h3 {
    font-size: 28px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    font-weight: 200;
}

p {
    color: $text-color-grey;
    font-weight: 100;

    &.center {
        text-align: center;
    }
}

a,
p {
    transition: 0.3s;

    &.large {
        font-size: 18px;
    }
}

.with-svg {
    display: flex;
    background-color: transparent;
    border-radius: 50%;
    transition: transform 0.3s;
    height: 24px;
    width: 24px;
    align-items: center;
    justify-content: center;

    svg {
        height: 24px;
        width: 24px;
        fill: $text-color-grey;
        stroke: $text-color-grey;
        transition: fill 0.3s, stroke 0.3s;
    }
}

// buttons
button.with-svg {
    &:hover {
        transform: scale(1.05);

        svg {
            fill: $wisteria;
            stroke: $wisteria;
        }
    }

    &:active {
        transform: scale(1.05);

        svg {
            fill: white;
            stroke: white;
        }
    }
}

button.with-svg.close {
    position: absolute;
    top: 32px;
    right: 32px;
}

button.small {
    height: 60px;
    width: 150px;
    min-width: max-content;
    border-radius: 30px;
    padding: 16px;
    transition: 0.3s;

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        background-color: white;
        color: $wisteria;
    }
}

button.color {
    background-color: $wisteria;
}

button.transparent {
    background-color: transparent;
    border: 1px solid $wisteria;
}

// pages
.front-page {
    height: 100vh;
    overflow: hidden;

    > .cover {
        height: 100vh;
        position: relative;

        > .content {
            .subtitle {
                font-size: 32px;

                @media (min-width: 577px) {
                    font-size: 38px;
                }

                @media (min-width: 769px) {
                    font-size: 48px;
                }
            }

            .title {
                font-size: 65px;

                @media (min-width: 577px) {
                    font-size: 90px;
                }

                @media (min-width: 769px) {
                    font-size: 135px;
                }

                @media (min-width: 992px) {
                    font-size: 150px;
                }
            }

            p {
                font-weight: 200;
                font-size: 16px;
                text-align: center;
                max-width: 100%;

                @media (min-width: 577px) {
                    font-size: 24px;
                }

                @media (min-width: 769px) {
                    max-width: 80%;
                }

                @media (min-width: 992px) {
                    max-width: 60%;
                }
            }
        }
    }

    > .logo,
    > .navbar {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 1;
    }

    > .logo {
        top: 80px;
    }

    > .navbar {
        bottom: 80px;
    }
}

.login-page {
    form {
        > div.container {
            justify-content: space-between;
        }
    }
}

.login-page,
.registration-page {
    form {
        padding-bottom: 48px;
    }
}

.menu-page {
    nav {
        justify-content: center;
    }

    .category {
        h3 {
            font-family: "Kaushan Script", cursive;
            color: $wisteria;
        }

        > div {
            padding-top: 32px;

            > *:not(:last-child) {
                margin-bottom: 16px;
            }
        }

        .product-link {
            > div {
                position: relative;
                padding: 16px 24px 16px 16px;
                display: flex;
                justify-content: space-between;
                border-radius: 16px;

                &.border {
                    border: 1px solid $wisteria;

                    .badge {
                        position: absolute;
                        top: -16px;
                        right: 24px;
                        padding: 8px 12px;
                        background-color: $wisteria;
                        color: #050505;
                        border-radius: 6px;
                        font-weight: 200;
                    }
                }

                img {
                    height: 72px;
                    width: 90px;
                    border-radius: 10px;
                    object-fit: cover;
                }

                .content {
                    padding: 0 24px;
                    display: flex;
                    flex-grow: 1;
                    flex-direction: column;
                    justify-content: space-evenly;

                    div {
                        display: flex;
                        justify-content: space-between;

                        .title {
                            display: flex;
                            align-items: center;
                            text-decoration: none;

                            h4 {
                                padding-right: 16px;
                                font-size: 20px;
                                font-weight: 200;
                            }
                        }

                        .price {
                            display: flex;

                            .sale {
                                text-decoration: line-through;
                                opacity: 60%;
                                padding-right: 10px;
                            }
                        }
                    }
                    p {
                        font-weight: 200;
                        color: $text-color-grey;
                    }
                }
            }
        }
    }
}

.product-page {
    .cover {
        .carrousel-container {
            width: 100%;
        }
    }
    .content > main {
        nav {
            justify-content: flex-start;
        }

        > :not(:first-child):not(button) {
            padding-top: 48px;
        }

        button.small.color {
            margin-top: 48px;
            align-self: center;
        }

        .nutrients {
            display: flex;
            width: 100%;

            > :not(:first-child) {
                border-left: 1px solid $border-color;
            }

            > div {
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 16px;

                .text {
                    font-weight: 200;
                    color: lightgray;
                }
            }
        }

        .prices-container {
            display: flex;
            width: 100%;
            justify-content: space-between;

            .container {
                display: flex;
                align-items: center;

                > .numInput {
                    padding-left: 8px;
                }

                .price {
                    color: $wisteria;
                }
            }
        }
    }

    .cover > img {
        position: relative;
    }
}

.event-page {
    .reservation {
        display: flex;
        align-items: center;
        padding-top: 32px;

        h4 {
            padding-left: 32px;
        }
    }

    .content > div {
        padding-top: 80px;

        h3 {
            font-family: "Kaushan Script", cursive;
            font-weight: 400;
            color: $wisteria;
            font-size: 28px;
            padding-bottom: 32px;
        }

        > div.details {
            > div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 16px;
            }

            .special-guest {
                display: flex;
                align-items: center;

                img {
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 16px;
                }
            }

            > :not(:first-child) {
                padding-top: 16px;
            }

            > :not(:last-child) {
                border-bottom: 1px solid $border-color;
            }
        }

        > div.special-guest {
            display: flex;

            img {
                height: 90px;
                border-radius: 50%;
            }

            > div {
                display: flex;
                flex-direction: column;
                padding-left: 24px;

                .links {
                    display: flex;
                    padding-top: 24px;

                    svg {
                        height: 24px;
                        width: 24px;
                    }

                    > :not(:first-child) {
                        padding-left: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 820px) {
    .events-page {
        .slides-container {
            display: flex;
            flex-direction: column;

            .slide {
                width: 100%;

                .image {
                    height: 100%;
                    transition: none;
                }
            }
        }
    }
}

.titles-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .subtitle {
        font-family: "Kaushan Script", cursive;
        font-weight: 400;
        color: $wisteria;
        font-size: 36px;
        text-align: center;
    }

    .title {
        font-weight: 400;
        font-size: 48px;
        text-align: center;
    }
}

main {
    display: flex;

    &.two-sections {
        @media (max-width: 768px) {
            flex-direction: column;
        }

        > section {
            width: 50%;
            min-height: 100vh;

            @media (max-width: 768px) {
                width: 100%;
            }

            &.cover {
                height: 100vh;
                width: 50%;
                overflow: hidden;
                position: sticky;
                top: 0;
                display: flex;
                justify-content: center;

                @media (max-width: 768px) {
                    width: 100%;
                    position: static;

                    & > .logo,
                    & > nav {
                        display: none;
                    }
                }

                & > .logo,
                & > nav {
                    position: absolute;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                    z-index: 1;
                }

                & > .logo {
                    top: 80px;
                }

                & > nav {
                    bottom: 80px;
                }
            }

            &.content {
                padding: 80px 96px;
                display: flex;
                flex-direction: column;
                position: relative;

                @media (max-width: 576px) {
                    padding: 40px 48px;
                }

                > header > p {
                    padding-top: 18px;
                }

                > main {
                    flex-direction: column;
                    flex: 1;
                    padding-top: 48px;
                }

                form {
                    display: flex;
                    flex-direction: column;

                    > :not(:first-child):not(button) {
                        padding-top: 48px;
                    }

                    > div {
                        display: flex;
                        align-items: flex-end;

                        > label {
                            width: 50%;

                            &.checkbox {
                                display: flex;
                                align-items: center;

                                > input[type="checkbox"] + p {
                                    padding-top: 0;
                                    padding-bottom: 0;
                                    padding-left: 8px;

                                    &:hover {
                                        color: white;
                                    }
                                }
                            }
                        }

                        > .submit {
                            width: 50%;

                            &:disabled {
                                opacity: 0.5;
                            }
                        }

                        > :not(:first-child) {
                            margin-left: 32px;
                        }
                    }

                    label {
                        .error {
                            color: $wisteria;
                            font-size: 14px;
                        }

                        p {
                            padding-bottom: 16px;
                            font-weight: 200;
                        }

                        input:not([type="checkbox"]) {
                            height: 60px;
                        }

                        input:not([type="checkbox"]),
                        textarea {
                            padding: 16px 24px;
                            width: 100%;
                            background-color: transparent;
                            border-radius: 10px;

                            &:focus {
                                outline: none;
                                border: 1px solid $wisteria;
                            }
                        }

                        input[type="text"] {
                            &::placeholder {
                                color: $text-color-grey;
                            }
                        }

                        input[type="password"] {
                            letter-spacing: 0.125em;
                            font-family: Verdana;
                        }

                        textarea {
                            resize: none;
                        }
                    }

                    > button[type="submit"] {
                        margin-top: 48px;
                        align-self: center;

                        &:disabled {
                            opacity: 0.5;
                        }
                    }
                }

                nav {
                    z-index: 1;
                    width: 50vw;
                    display: flex;
                    padding: 24px 36px;
                    position: fixed;
                    top: 0;
                    right: 0;
                    background-color: #050505;

                    & > *:not(:last-child) {
                        padding-right: 48px;
                    }
                }

                .link {
                    color: $text-color-grey;
                    display: flex;
                    align-items: flex-end;

                    svg {
                        fill: $text-color-grey;
                    }

                    &:hover {
                        color: white;
                        svg {
                            fill: white;
                        }
                    }

                    &.active {
                        color: $wisteria;
                        svg {
                            fill: $wisteria;
                        }
                    }
                }

                .menu > *:not(:first-child) {
                    padding-top: 96px;
                }
            }
        }
    }
}

.date-picker {
    > .react-datepicker-wrapper {
        display: flex;
    }

    .react-datepicker__day--selected,
    .react-datepicker__day--selected:hover {
        background-color: #c9a0dc;
    }

    .react-datepicker__navigation-icon::before,
    .react-datepicker__navigation-icon:hover {
        border-color: #c9a0dc;
    }
}

.popup {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50vw;
    top: 0;
    left: 0;
    z-index: 9999;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);

    > div {
        height: max-content;
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 80px 96px;
        position: relative;
        border: 1px solid $border-color;
        background-color: $background-color;

        > h4,
        > p {
            padding-bottom: 18px;
        }

        > .container {
            width: 100%;
            display: flex;
            justify-content: center;

            :not(:first-child) {
                margin-left: 50px;
            }

            button {
                width: 100px;
            }
        }
    }
}

.accordion {
    width: 100%;

    .item {
        > header {
            padding: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid $border-color;

            > h4,
            > svg {
                transition: 0.3s;
            }

            > svg {
                height: 24px;
                width: 24px;
            }

            &.open,
            &:hover {
                > h4,
                > svg {
                    transform: scale(1.05);
                }
                > h4 {
                    color: $wisteria;
                }
                > svg {
                    fill: $wisteria;
                }
            }
        }

        .content {
            &.hidden {
                display: none;
            }

            &.open {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 16px;
                border-right: 1px solid #1e1e1e;
                border-bottom: 1px solid #1e1e1e;
                border-left: 1px solid #1e1e1e;

                > .row:not(:first-child) {
                    border-top: 1px solid $border-color;
                    padding-top: 16px;
                }

                > .row:not(:last-child) {
                    padding-bottom: 16px;
                }

                > .row {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
            }

            &.referral {
                > div {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;

                    button {
                        color: $text-color-grey;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: 0.5s ease;

                        svg {
                            height: 24px;
                            width: 24px;
                            margin-left: 16px;
                            stroke: $text-color-grey;
                            transition: fill 0.3s, stroke 0.3s;
                        }

                        &.referral-link {
                            width: 60%;
                        }

                        &:hover {
                            color: white;

                            svg {
                                stroke: white;
                            }
                        }

                        &:active {
                            color: $wisteria;

                            svg {
                                stroke: $wisteria;
                            }
                        }
                    }
                }

                > p {
                    padding-top: 16px;
                }
            }
        }
    }
}
