@import "../../../styles/variables.scss";

.row:not(:first-of-type) {
    border-top: 1px solid $border-color;
    padding-top: 16px;
}

.row:not(:last-of-type) {
    padding-bottom: 16px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
