@use "../../../styles/variables.scss";

.cover {
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;

    @media (min-width: 821px) {
        position: sticky;
        top: 0;
        height: 100vh;
    }
}

.logo {
    display: none;

    @media (min-width: 821px) {
        display: flex;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 1;
        top: 80px;
    }
}

.navbar {
    display: none;

    @media (min-width: 821px) {
        display: flex;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 1;
        bottom: 80px;
    }
}
